# Compiled Object files
Win32/
x64/
*.lib
*.obj
*.pdb
*.o

# Third party
/buildtools

# Work files
*.db
*.dmp
*.ini
*.vc.opendb
*.suo
*.user
.vs/
.vscode

# Binary files
*.D88
*.ROM
*.WAV
*.d88
*.exe
*.m88
*.rom
